.bracket {
  background-color: var(--background);
  display: flex;
  min-width: 100%;
  padding: 1rem;
  width: max-content;
}

.round-1 {
  .bracket-matchup:not(:last-child) {
    margin-bottom: var(--bracket-player-spacing);
  }
}

.round-2 {
  margin-top: calc((2 - 1) * (var(--bracket-player-height) + var(--bracket-player-spacing) / 2));

  .bracket-matchup:not(:last-child) {
    margin-bottom: calc(
      2 * (var(--bracket-player-height) * 2 + var(--bracket-player-spacing)) - var(--bracket-player-height) * 2
    );
  }
}

.round-3 {
  margin-top: calc((4 - 1) * (var(--bracket-player-height) + var(--bracket-player-spacing) / 2));

  .bracket-matchup:not(:last-child) {
    margin-bottom: calc(
      4 * (var(--bracket-player-height) * 2 + var(--bracket-player-spacing)) - var(--bracket-player-height) * 2
    );
  }
}

.round-4 {
  margin-top: calc((8 - 1) * (var(--bracket-player-height) + var(--bracket-player-spacing) / 2));

  .bracket-matchup:not(:last-child) {
    margin-bottom: calc(
      8 * (var(--bracket-player-height) * 2 + var(--bracket-player-spacing)) - var(--bracket-player-height) * 2
    );
  }
}

.round-5 {
  margin-top: calc((16 - 1) * (var(--bracket-player-height) + var(--bracket-player-spacing) / 2));

  .bracket-matchup:not(:last-child) {
    margin-bottom: calc(
      16 * (var(--bracket-player-height) * 2 + var(--bracket-player-spacing)) - var(--bracket-player-height) * 2
    );
  }
}

.round-6 {
  margin-top: calc((32 - 1) * (var(--bracket-player-height) + var(--bracket-player-spacing) / 2));

  .bracket-matchup:not(:last-child) {
    margin-bottom: calc(
      32 * (var(--bracket-player-height) * 2 + var(--bracket-player-spacing)) - var(--bracket-player-height) * 2
    );
  }
}

.bracket-nav {
  ul {
    flex: 1 0 auto;

    li:first-child {
      border-left: none;
    }
  }
}

/* .bracket-action {
  align-items: center;
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: center;
  left: 0;
  min-height: 4rem;
  padding: 0.8rem;
  position: sticky;
  right: 0;
  text-transform: uppercase;

  &:hover {
    background-color: var(--primary);
    cursor: pointer;
  }
  &:active {
    background-color: var(--primary-variant);
    cursor: pointer;
  }
} */
