.bracket-player {
  align-items: stretch;
  display: flex;
  height: 50%;

  &:first-child {
    border-bottom: calc(var(--border-width) / 2) solid black;
  }

  &:last-child {
    border-top: calc(var(--border-width) / 2) solid black;
  }

  &.eliminated {
    opacity: 0.5;
  }
}

.bracket-player-name,
.bracket-player-seed {
  align-items: center;
  display: flex;
  padding: 0 0.4rem;
}

.bracket-player-seed {
  background-color: black;
  border-right: var(--border-width) solid black;
  color: #f0e1d2;
  flex: 0 0 2.1rem;
  justify-content: flex-end;
  font-family: 'Chivo Mono', monospace;
}

.bracket-player-name {
  background-color: rgba(255, 255, 255, 0.2);
  flex: 1;
  min-width: 0;
}

.bracket-player-name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
