.matchup {
  background: var(--background);
  display: flex;
  gap: var(--matchup-padding);
  height: 100%;
  padding: var(--matchup-padding);
  width: 100%;

  @media (max-height: 500px) {
    --matchup-padding: 2.5rem;
  }
}
