.matchup-player {
  align-items: stretch;
  background-color: black;
  border: 8px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.8) 10px 10px;
  width: 50%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
    cursor: pointer;
    transform: translate(10px, 10px);
  }
}

.matchup-player-name {
  font-size: 5rem;
  font-weight: 700;
  padding: 4rem;
  text-align: center;
}

.matchup-player-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 0 auto;
}

.has-image {
  &.matchup-player {
    gap: 8px;
    justify-content: flex-end;
  }

  .matchup-player-name {
    padding: 2rem 3rem;
    width: 100%;
  }
}

.no-image {
  .matchup-player-name {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
}
