.menu {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: var(--main-padding);
}

.tournament-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tournament-button {
  text-transform: uppercase;
}
